<main>
    <div class="presentation">
        <h1>Fin de partie :</h1>

        <div class="resultat">
                <p>Le personnage à trouver était : <i>{{reponse}}</i> </p>
                <td> {{texteResultat}}<p class="font-smaller"> (+ {{score}} points)</p>
                </td>
        </div>
        <br>
        <div class="resultatfinal">
                <p class="chiffre_score_definitif2"></p>
        </div>
        <br>

        <div class="resultatfinal">
            <div class="{{resultatCadre}}">
                <p class="chiffre_score_definitif2">SCORE TOTAL : {{scoreTotal}} / {{tour*10}}</p>
                <p class="chiffre_score_definitif2">{{pourcentage}} % de bonnes réponses</p>
            </div>
        </div>
        
    </div>
</main>

