

<main>
    <div class="presentation">
        <h1> Choix du mode de jeu </h1>

        <div class="choix">
            <div class="choix_mystere"><a href="/jeu/etape_melange">
                    <b>LE PERSONNAGE MYSTÈRE :</b>
                    Trouvez le personnage mystère et répondez aux questions sur lui</a>
            </div>

            <div class="choix_prime"><a href="/jeu/jeu_prime">
                    <b>BATAILLE DE PRIMES :</b>
                    Trouvez qui a la plus grosse prime</a>
            </div>

            <div class="choix_age"><a href="jeu/jeu_age">
                    <b>VIEILLESSE OBLIGE :</b>
                    Trouvez qui est le plus âgé</a>
            </div>
        </div>

    </div>

</main>


