.spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* DIV PRESENTATION */

div.presentation,
div.presentation_op,
data-th-block.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    padding: 10px;
}

div.presentation_op a {
    color: #0f0e40;
    text-transform: uppercase;
}

div.presentation_op a:hover {
    color: #353468;
    cursor: pointer;
}

div.presentation div.score {
    width: 85%;
}

div.presentation-bouton {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    flex-wrap: nowrap;
    padding: 10px;
    justify-content: space-evenly;
}


main {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

main h1 {
    margin: 10px;
}

.center-main {
    display: flex;
    width: 100%;
    height: 300px;
    margin: auto;
}

.center-section {
    margin: auto;
    text-align: center;
}

.uniforme td {
    border: none;
    background-color: #e9e2e2;
}

.uniforme input[type="button"] {
    margin-left: auto;
    padding: 5px 5px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.uniforme input[type="button"]:hover,
li.bouton a:hover,
.flex-outer li button:hover {
    background: #8e6d6d;
}

/* Boutons et liens en forme de boutons */

li.bouton a {
    margin-left: auto;
    margin-bottom: 5px;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
}

a.bouton {
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 8px 8px;
    background: #333;
    border: none;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
}

a.bouton:hover {
    background-color: #c58282;
    cursor: pointer;
}

select#idGroupes {
    min-width: 210px;
}

/* Les div de CHOIX */

div.choix {
    font-family: sans-serif;
    font-size: large;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

div.choix div.choix_mystere {
    background-image: url("../../../../assets/image_persos1.jpg");
    background-size: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10px;
    justify-content: space-between;
    border: 2px solid #aa9d9d;
}

div.choix div.choix_mystere:hover {
    background-image: url("../../../../assets/image_persos2.jpg");
    box-shadow: 0 1px 8px #ddd;
    cursor: pointer;
}

div.choix a {
    display: flex;
    width: 100%;
    color: black;
    text-decoration: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

div.choix div.choix_prime {
    background-image: url("../../../../assets/image_primes1.jpg");
    background-size: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10px;
    justify-content: space-between;
    border: 2px solid #aa9d9d;
}

div.choix div.choix_prime:hover {
    background-image: url("../../../../assets/image_primes2.jpg");
    box-shadow: 0 1px 8px #ddd;
    cursor: pointer;
}

div.choix div.choix_age {
    background-image: url("../../../../assets/image_ages1.jpg");
    background-size: 95%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10px;
    justify-content: space-between;
    border: 2px solid #aa9d9d;
}

div.choix div.choix_age:hover {
    background-image: url("../../../../assets/image_ages2.jpg");
    box-shadow: 2px 1px 8px #ddd;
    cursor: pointer;
}

div.choix button {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 6px 6px;
    background: #0f0e40;
    border: none;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .08em;
}

div.choix button a {
    width: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.choix button:hover {
    background-color: #5d85ec;
    cursor: pointer;
}