

<main>


    <div class="presentation">
        <h1> Choix du mode de jeu </h1>

        <div class="choix">



            <div class="choix_mystere">
                <a routerLink="jeuMelange" (click)="onChoixMystere()">
                    <b>LE PERSONNAGE MYSTÈRE :</b>
                    Trouvez le personnage mystère
                </a>
            </div>

            <div class="choix_prime">
                <a routerLink="jeuEquipage" (click)="onChoixPrime()">
                    <b>QUEL ÉQUIPAGE ?</b>
                    Retrouvez le Pirate et son équipage
                </a>
            </div>

        <!--    <div class="choix_age"><a href="jeu/jeu_age">
                    <b>VIEILLESSE OBLIGE :</b>
                    Trouvez qui est le plus âgé</a>
            </div>-->
        </div>

    </div>

</main>


