
<main>
    <div class="presentation">
        <h1> Le Jeu de One Piece</h1>

        <h2>{{personnage.nom_complet}}</h2>

@if (resultat) {<div class="resultat">
                    <div class="score">SCORE : <p>{{scoreTotal}}</p></div>
                <p>La réponse était : {{reponse}} </p>
                <p> {{texteResultat}}</p>
                </div>}
        

        <h2> {{tour}} : Trouvez le personnage caché </h2>

        <table class="tirage">
            <div>
                @for (lettre of tableauNomMel; track lettre){
                    <th class ="lettre"> {{lettre}}</th>
                }
            </div>
                @if (personnage.nom) {
                    <th class="interclasse">@if (personnage.particule) { D} </th>
                    }

                @if (personnage.prenom) {
                    <div>
                    @for (lettre of tableauPrenomMel; track lettre){
                            <th class="lettre"> {{lettre}}</th>
                    }
                </div>
            }
        </table>

                <div class="reponse">
                    <form method="post" #reponseForm="ngForm" (ngSubmit)="onSubmitForm(reponseForm)">
                        <div>
                            <input id="reponseNom" name="reponseNom" type="text" [(ngModel)]="reponseNom"  required  />
                            <input id="idPerso" name="idPerso" type=number [(ngModel)]="personnage.id" hidden />
                            <input id="score" name="score" type=number [(ngModel)]="score" hidden />
                        </div>
                        <div>
                            <button type="submit">Répondre</button>
                        </div>
                    </form>
                </div>

    </div>
</main>

