
<main>
    <div class="presentation">
        <h1> Le Jeu de One Piece</h1>

        <h2>{{personnage.nom_complet}}</h2>

        <h2> Question 1 : Trouvez le personnage caché </h2>

        <table class="tirage">
            <div>
                @for (lettre of tableauNomMel; track lettre){
                    <th class ="lettre"> {{lettre}}</th>
                }
            </div>
                @if (personnage.nom) {
                    <th class="interclasse">@if (personnage.particule) { D} </th>
                    }

                @if (personnage.prenom) {
                    <div>
                    @for (lettre of tableauPrenomMel; track lettre){
                            <th class="lettre"> {{lettre}}</th>
                    }
                </div>
            }
        </table>

                <div class="reponse">
                    <form action="/jeu/premiere_reponse" method="post">
                        <div>
                            <input id="reponseNom" name="reponseNom" type="text" pattern="[a-zA-Z0-9_:-]{100}" [(ngModel)]="reponseNom"  required  />
                            <input id="idPerso" name="idPerso" type=number th:value="${personnageChoisi.id}" hidden />
                            <input id="score" name="score" type=number th:value="${score}" hidden />
                        </div>
                        <div>
                            <button type="submit">Répondre</button>
                        </div>
                    </form>
                </div>

    </div>
</main>

