table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    background-color: rgb(238, 203, 157);
}

table td,
table th {
    border: 1px solid #ddd3d3;
    padding: 8px;
    background-color: rgb(206, 200, 190);
}

table tr {
    margin-left: 5px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}

table a:link,
table a:visited {
    background-color: #008080;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

form h1 {
    margin: 15px;
}

.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    border: 1px solid #f1e6cb;
    border-radius: 5px;
    background-color: #f1e6cb;
    color: #353030;
    padding: 5px;
}

.flex-outer li a li {
    background-color: rgb(236, 222, 198);
}

tr.listePerso {
        display : flex;
        flex-wrap: wrap;
        }


.flex-outer>li select {
    flex: 1 0 220px;
}

.flex-outer>li>label {
    flex: 1 0 120px;
    max-width: 350px;
}

.flex-outer>li>label+* {
    flex: 1 0 220px;
}

.flex-outer>li>label+a.bouton {
    flex: none;
}

.flex-outer>li>label+input#idParticule {
    flex: none;
}

.flex-outer>li>label+input#genreCheck1,
#genreCheck2,
#genreCheck3 {
    flex: none;
    margin-right: 5px;
}

.flex-outer li button {
    margin-left: auto;
    margin-bottom: 5px;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
}


.flex-outer li a li {
    background-color: rgb(204, 236, 198);
    text-decoration: solid;
    border: 1px solid #015028;
}


.flex-outer li a li:hover {
    background-color: #8ad9ec;
    cursor: pointer;
}

.flex-outer li li {
    background-color: #f6f4f4;
}

.spinner {
    border: 5px solid #ffffff00;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 1px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}