<div class="landing-block">

        <div class="presentation_op">
            <h1>BIENVENUE SUR "ONE PIECE QUIZ" </h1>
        
            <h2>Venez tester vos connaissances sur l'univers de One Piece avec des jeux et devenir le roi des pirates !</h2>
        
            <h2>
                <a routerLink="jeu">Démarrer les épreuves</a>
            </h2>

    <form (ngSubmit)="onSubmitForm()">
        <label for="emailInput">Inscrivez vous pour recevoir notre newsletter !</label>
        <input type ="email" id="emailInput" [(ngModel)]="userEmail" name="userEmail">
        <button type="submit">OK !</button>
    </form>   
    
 
    <div class="landing-links">
        <br>
        <img class="image_accueil" src="../../assets/frise_personnages.png" (click)="onContinue()" alt="One Piece Logo">
    </div>
</div>