<main>
    <ul class="flex-outer">
        <table>
            <li>
                <b>Nom :</b>
                <tr>{{personnage.name}} </tr>
            </li>
            <li>
                <b>Prenom :</b>
                <tr> </tr>
            </li>

@if (personnage.size){
            <li>
                <b>Taille :</b>
                <tr>{{personnage.size}} </tr>
            </li>
            }

@if (personnage.age) {
            <li>
                <b>Age :</b>

                <tr>{{personnage.age}} </tr>

            </li>
        }

@if (personnage.bounty) {

            <li>
                <b>Prime :</b>
                <tr>{{personnage.bounty}} berrys </tr>
            </li>
    }

            <li>
                <b>Statut :</b>
                <tr>{{personnage.status}} </tr>
            </li>

@if (personnage.fruit) {
            <li>
                <b>Fruit :</b>
                <ul>
                    <li><b>Nom :{{personnage.fruit.name}}</b> </li>
                    <li><b>Description :{{personnage.fruit.description}}</b> </li>
                    <li><b>Type :{{personnage.fruit.type}}</b> </li>
                </ul>
            </li>
            }

@if (personnage.crew) {

            <li>
                <b>Équipage :</b>
                <ul>
                    <a (click)="onViewFicheGroupe(personnage.crew.id)">
                <li>
                    {{personnage.crew.name}}
                </li></a>
                @if (personnage.crew.description) {
                    <li><b>Description :{{personnage.crew.description}}</b> </li>
                }
                <li><b>Status :{{personnage.crew.status}}</b> </li>
                @if (personnage.crew.total_prime) {
                <li><b>Primes totales :{{personnage.crew.total_prime}} berrys</b> </li>
                }
                @if (personnage.job) {
                <li><b>Job du personnage :@if (personnage.job) { {{personnage.job}} }</b> </li>
                }
                </ul>
            </li>
        }
        </table>
    </ul>

</main>

