<main>

@if (personnage) {

    <h1>Fiche de {{personnage.nom_complet}}</h1>

    <ul class="flex-outer">
        <table>
            <li>
                <b>Nom : </b>
                <tr>{{personnage.nom}} </tr>
            </li>
@if (personnage.particule){
            <li>
                <b>Particule : </b>
                <tr>{{personnage.particule}} </tr>
            </li>
            }

            <li>
                <b>Prenom : </b>
                <tr>{{personnage.prenom}} </tr>
            </li>

            <li>
            <b>Surnom : </b>
            <tr>{{personnage.surnom}} </tr>
            </li>

@if (personnage.size){
            <li>
                <b>Taille : </b>
                <tr>{{personnage.size}} </tr>
            </li>
            }

@if (personnage.age) {
            <li>
                <b>Age : </b>

                <tr>{{personnage.age}} </tr>

            </li>
        }

@if (personnage.bounty) {

            <li>
                <b>Prime : </b>
                <tr>{{personnage.bounty}} berrys </tr>
            </li>
    }

            <li>
                <b>Statut : </b>
                <tr>{{personnage.status}} </tr>
            </li>

@if (personnage.fruit) {
            <li>
                <b>Fruit : </b>
                <ul>
                    <li><b>Nom :</b>{{personnage.fruit.name}} </li>
                    <li><b>Description</b> :{{personnage.fruit.description}} </li>
                    <li><b>Type :</b>{{personnage.fruit.type}} </li>
                </ul>
            </li>
            }

@if (personnage.crew) {

            <li>
                <b>Équipage : </b>
                <ul>
                    <a (click)="onViewFicheGroupe(personnage.crew.id)" (keydown.v)="onViewFicheGroupe(personnage.crew.id)" tabindex="0">
                <li>
                    {{personnage.crew.name}}
                </li></a>
                @if (personnage.crew.description) {
                    <li><b>Description :</b> {{personnage.crew.description}} </li>
                }
                <li><b>Status : </b>{{personnage.crew.status}} </li>
                @if (personnage.crew.total_prime) {
                <li><b>Primes totales : </b>{{personnage.crew.total_prime}} berrys </li>
                }
                @if (personnage.job) {
                <li><b>Job du personnage : </b>@if (personnage.job) { {{personnage.job}} } </li>
                }
                </ul>
            </li>
        }
        </table>
    </ul>
} @else {
    <p>Chargement...</p>
}
</main>

