<header>
<h1 id="nav-title"></h1>
<nav>
    <ul>
        <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
        <li><a routerLink="jeu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Jeu </a></li>
        <li><a routerLink="listePersonnages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Liste des personnages</a>
            <ul>
            <li><a routerLink="listePersonnagesApi" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Liste des
                personnages (API)</a>
        
            </li>
            </ul>
        </li>
        <li><a routerLink="listeGroupes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Liste des équipages</a>
        </li>
    </ul>
</nav>

</header>
