

header {
    display: flex;
    align-items: center;
    background-color: rgb(236, 243, 250);
    padding: 0 0 0.5rem 1.75rem;
}

nav li {
    font-size: 1em;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

#nav-title {
    margin-right: auto;
    font-size: 1.1em;
}

 li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

 li li {
    padding: 0 10px;
    font-size: 0.7em;
}

 a {
    text-decoration: none;
    color: #59595f;
    transition: all 0.3s ease 0s;
    padding:5px 5px;
}

.active {
    color: #140136;
}

 a:hover {
    color: rgb(20, 1, 65);
    background-color: rgb(209, 216, 226);
    border-radius: 10%;
}

@media (min-width: 576px) {
  .header-ft {
    padding: 0 0 0 1.78rem;
  }
}

