
<main>
    <h1> Qui appartient à quel équipage ?</h1>

    @if (isLoading) {
    <div class="spinner"></div>
    <p colspan="6">Chargement du jeu...</p>
    }

    @if (resultat) {<div class="resultat">
    
        <div class="score">SCORE :
            <p class="chiffre_score">+{{score}}</p>
            <p class="chiffre_score_definitif">{{scoreTotal}}</p>
        </div>
    
        <p>Le personnage à trouver était : <i>{{reponse}}</i> </p>
        <td> {{texteResultat}}<p class="font-smaller"> (+ {{score}} points)</p>
        </td>
    </div>
    }

    <h2 data-th-text="${'Question ' + numeroDeQuestion  + ' : '
    + nomComplet + ' appartient-'+ pronom + ' ou a t-' + pronom +' appartenu a ' + groupeChoisi.nom + ' ?'}"> </h2>

    <div class="reponse">
        <form action="/jeu/jeu_groupe_reponse" method="post">

            <div>
                <input id="numerodequestion" name="numerodequestion" type="number" th:value="${numeroDeQuestion + 1}"
                    hidden />
                <input id="idPerso" name="idPerso" type=number th:value="${personnageChoisi.id}" hidden />
                <input id="groupeChoisi" name="idGroupe" th:value="${groupeChoisi.id}" hidden />
                <input id="score" name="score" type=number th:value="${score}" hidden />
            </div>
            <div>
                <button id="oui" name="reponse" value="oui" type="submit">OUI</button>
                <button id="non" name="reponse" value="non" type="submit">NON</button>
            </div>
        </form>
    </div>


</main>
