
<main>
    <div class="presentation">
    <h1>Questions sur les équipages et les peuples</h1>

    @if (isLoading) {
    <div class="spinner"></div>
    <p colspan="6">Chargement du jeu...</p>
    }

    @if (resultat) {<div class="resultat">
    
        <div class="score">SCORE :
            <p class="chiffre_score">+{{score}}</p>
            <p class="chiffre_score_definitif">{{scoreTotal}}</p>
        </div>
    
        <td> {{texteResultat}}<p class="font-smaller"> (+ {{score}} points)</p>
        </td>
    </div>
    }

    <h2> Question {{tour}} /10 </h2>

    <h2>VRAI OU FAUX ? </h2>
    <h2> @if (personnage){ <p class ="personnage"> {{personnage.nom_complet + "  "}} </p> } fait partie de <p class="groupe"> {{" " + nomDuGroupe}} </p>  </h2>

    <div class="reponse">
            <div>
                <button (click)="onClickButton('oui')">OUI</button>
                <button (click)="onClickButton('non')">NON</button>
            </div>
    </div>
</div>

</main>
