@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.body {
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
}


h2 {
    font-style: oblique;
    color: #170505;
    margin: 10px;
    padding: 5px;
}


div.presentation,
div.presentation_op,
data-th-block.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    padding: 10px;
}

div.presentation_op a {
    color: #0f0e40;
    text-transform: uppercase;
}

div.presentation_op a:hover {
    color: #353468;
}



