table {
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

table td,
table th {
    border: 1px solid #bdbdbd;
    padding: 8px;
}

table td img {
    width: 50px;
}

table tr {
    background-color: rgb(247, 228, 195);
}

table th.container-spin tr {
    background-color: unset;
    display: flex;
    justify-content: center;
}

table tr:nth-child(even) {
    background-color: #fbfcef;
}

table tr:hover {
    background-color: rgb(250, 219, 179);
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}

table a:link,
table a:visited {
    background-color: #008080;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

table a:hover,
table a:active {
    background-color: #004040;
}

.liked {
    background-color: rgba(lightgreen, 0.4);
    color: darkgreen;

    button {
        background-color: rgb(100, 0, 17);

    }
}

button {
    margin-left: auto;
    margin-bottom: 5px;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
}

button:hover {
    background-color: #471b1b;
    cursor: pointer;
}

.button:hover {
    background-color: #471b1b;
    cursor: pointer;
}

.spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}