body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("./assets/image_de_fond_plus_claire.png");
    background-color: aliceblue;
    background-size: 100%;
}

h1 {
    font-size: 1.8em;
}